# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
__debug_bin

__debug_bin

# Dependency directories (remove the comment below to include it)
# vendor/

arreglo-10-mil.json
arreglo-50-mil.json
arreglo-500-mil.json
arreglo-1-millon.json
arreglo-10-millones.json
arreglo-100-millones.json
arreglo-10-mil.json
arreglo-100-mil.json
arreglo-200-mil.json
arreglo-600-mil.json
resultados.txt